.idea
.git
../__pycache__
../chapter_3/__pycache__
../chapter_4/__pycache__
../chapter_5/__pycache__
../chapter_6/__pycache__
../chapter_7/__pycache__
../chapter_8/__pycache__
../chapter_9/__pycache__
../chapter_10/__pycache__
../chapter_11/__pycache__